
Segundo ano/2 semestre/Estrutura de Dados II/arq.txt
Segundo ano/2 semestre/Estrutura de Dados II/e.exe
Segundo ano/2 semestre/Estrutura de Dados II/escrita.txt
Segundo ano/2 semestre/Estrutura de Dados II/fp.txt
Segundo ano/2 semestre/Estrutura de Dados II/a.exe
Segundo ano/2 semestre/Estrutura de Dados II/dados.txt
Segundo ano/2 semestre/Estrutura de Dados II/indices.txt
Segundo ano/2 semestre/Estrutura de Dados II/b.exe
Segundo ano/2 semestre/Estrutura de Dados II/output/buscabinaria.exe
Segundo ano/2 semestre/Estrutura de Dados II/output/buscasequencial.exe
Inicição científica/__pycache__/utils.cpython-36.pyc
Inicição científica/a.exe
Segundo ano/2 semestre/Estrutura de Dados II/Projeto1/a.exe
Segundo ano/2 semestre/Estrutura de Dados II/Projeto1/ab.exe
*.idx
Segundo ano/2 semestre/Estrutura de Dados II/Projeto1/movies.txt
Segundo ano/2 semestre/Estrutura de Dados II/Projeto1/movies.txt
Segundo ano/2 semestre/Estrutura de Dados II/Projeto1/movies.txt
Segundo ano/2 semestre/Estrutura de Dados II/Projeto1/movies.txt
Segundo ano/2 semestre/Estrutura de Dados II/Projeto2/a.exe
Segundo ano/2 semestre/Estrutura de Dados II/Projeto1/movies.dat
*.dat
Segundo ano/2 semestre/Estrutura de Dados II/Projeto2/projeto.c
Segundo ano/2 semestre/Estrutura de Dados II/Projeto1/movies.dat
Iniciação científica/Projeto/a.exe
Iniciação científica/Projeto/a.exe
Iniciação científica/Projeto/a.exe
Iniciação científica/Projeto/e.exe
